{% extends layout %}

{% block title %}{{ 'translations.page_title'|trans({}, 'LexikTranslationBundle') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="?yui_css" output='css/optimized-jqgrid.css'
        '@LexikTranslationBundle/Resources/public/lib/jqGrid/css/ui.jqgrid.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('success') %}
	<span class="trans-flash">{{ flashMessage }}</span>
{% endfor %}

<div id="trans-toolbar">
    <a id="trans-new" href="{{ path('lexik_translation_new') }}" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary">
        <span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span>
        <span class="ui-button-text">{{ 'translations.new_translation'|trans({}, 'LexikTranslationBundle') }}</span>
    </a>
    &nbsp;
    <a id="trans-invalidate" href="{{ path('lexik_translation_invalidate_cache') }}" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary">
        <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
        <span class="ui-button-text">{{ 'translations.invalidate_cache'|trans({}, 'LexikTranslationBundle') }}</span>
    </a>
    &nbsp;
    <button id="select-colunms" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary">
        <span class="ui-button-icon-primary ui-icon ui-icon-flag"></span>
        <span class="ui-button-text">{{ 'translations.show_hide_columns'|trans({}, 'LexikTranslationBundle') }}</span>
    </button>
    {% if inputType == 'textarea'  %}
    <button id="save-row" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary">
        <span class="ui-button-icon-primary ui-icon ui-icon-check"></span>
        <span class="ui-button-text">{{ 'translations.save_row'|trans({}, 'LexikTranslationBundle') }}</span>
    </button>
    {% endif %}
</div>

<br />

<table id="trans-grid"></table>
<div id="grid-nav"></div>
{% endblock %}

{% block javascript_footer %}
    {{ parent() }}
    {% javascripts filter="?yui_js" output='js/optimized-translator-1.js'
        '@LexikTranslationBundle/Resources/public/lib/jqGrid/js/i18n/grid.locale-en.js'
        '@LexikTranslationBundle/Resources/public/lib/jqGrid/js/jquery.jqGrid.min.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
<script type="text/javascript">
<!--
$(document).ready(function() {
    var columnNames = [
        "id"
        ,'{{ 'translations.domain'|trans({}, 'LexikTranslationBundle') }}'
        ,'{{ 'translations.key'|trans({}, 'LexikTranslationBundle') }}'
{% for locale in locales %}
        ,'{{ locale }}'
{% endfor %}
    ];

    var columnModel = [
        { name: "id", index: "id", width: 40, sortable: true, editable: false, search: false }
        ,{ name:"{{ 'translations.domain'|trans({}, 'LexikTranslationBundle') }}", index: "domain", width: 100, sortable: true, editable: false }
        ,{ name:"{{ 'translations.key'|trans({}, 'LexikTranslationBundle') }}", index: "key", width: 150, sortable: true, editable: false }
{% for locale in locales %}
        ,{ name: "{{ locale }}", index: "{{ locale }}", width: 160, sortable: false, editable:true, {{ inputType == 'textarea' ? 'edittype: "textarea", ' : '' }}search: true }
{% endfor %}
    ];

    var lastSelected, lastSaved;

    jQuery("#trans-grid").jqGrid({
        url: "{{ path('lexik_translation_list') }}",
        datatype: "json",
        colNames: columnNames,
        colModel: columnModel,
        rowNum: 20,
        rowList: [20, 40, 60],
        pager: "#grid-nav",
        sortname: "id",
        viewrecords: true,
        sortorder: "asc",
        onSelectRow: function(id) {
            var editParams = {
                keys: true,
                successfunc: function() {
                    lastSelected = null;

                    return true;
                }, 
                afterrestorefunc: function() {
                    lastSelected = null;

                    return true;
                }
            };

            if(id && id !== lastSelected) {
                jQuery('#trans-grid').jqGrid("saveRow", lastSelected);
                jQuery('#trans-grid').jqGrid("editRow", id, editParams);
                lastSelected = id;
            }
        },
        editurl: "{{ path('lexik_translation_update') }}",
        caption: "{{ 'translations.grid_caption'|trans({}, 'LexikTranslationBundle') }}"
    });

    jQuery("#trans-grid").setGridWidth(960);
    jQuery("#trans-grid").setGridHeight(400);
    jQuery("#trans-grid").jqGrid("navGrid", "#grid-nav", { edit:false, add:false, del:false, search: false });
    jQuery("#trans-grid").jqGrid("filterToolbar", { defaultSearch: "cn" });

    jQuery("#select-colunms").click(function() {
        jQuery("#trans-grid").jqGrid("columnChooser", {});
        return false;
    });

    {% if inputType == 'textarea'  %}
    jQuery("#save-row").click(function() {
        if (lastSelected && lastSaved != lastSelected) {
            jQuery('#trans-grid').saveRow(lastSelected);
            lastSaved = lastSelected;
        }
    });
	{% endif %}
});
//-->
</script>
{% endblock %}