{% extends layout %}

{% block content %}
<div>
    <div>{{ 'translations.add_translation'|trans({}, 'LexikTranslationBundle') }}</div>
    <form action="{{ path('lexik_translation_new') }}" method="post">
        {{ form_row(form.key) }}
        {{ form_row(form.domain) }}
        {% for translation in form.translations %}
            {{ form_row(translation) }}
        {% endfor %}
        {{ form_rest(form) }}
        <input type="submit" id="trans-unit-submit" name="trans-unit-submit" value="{{ 'translations.add'|trans({}, 'LexikTranslationBundle') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
    </form>
</div>
{% endblock %}