{% extends layout %}

{% trans_default_domain 'LexikTranslationBundle' %}

{% block lexik_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lexiktranslation/css/translation.css') }}">
{% endblock %}

{% block lexik_title %}{{ 'translations.page_title'|trans({}, 'LexikTranslationBundle') }}{% endblock %}

{% block lexik_content %}
    <div class="container">
        {% block lexik_toolbar %}
            {% include '@LexikTranslationBundle/Translation/_gridToolbar.html.twig' %}
        {% endblock lexik_toolbar %}

        {% block lexik_data_grid %}
            {% if translations is empty %}
                <div class="alert alert-info" role="alert">
                    No Translations
                </div>
            {% endif %}
            <div id="translation-grid">
                {% set totalPages = translationsCount / 20 %}
                {% set totalPagesRounded = totalPages|round(0, 'ceil') %}
                <table class="table table-bordered table-striped">
                    <tr>
                        <th id='id-header' class="text-center sortable col-_id" onclick="sortColumn('id', 'asc', {{ totalPagesRounded }}, '{{ path('lexik_translation_list') }}')" style="cursor: pointer;" data-totalPages = {{ totalPagesRounded }}>
                            Id
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </th>

                        <th id='domain-header' class="text-center sortable col-_domain" onclick="sortColumn('domain', 'asc', {{ totalPagesRounded }}, '{{ path('lexik_translation_list') }}')" style="cursor: pointer;">
                            {% trans %} translations.domain {% endtrans %}
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </th>

                        <th id='key-header' class="text-center sortable col-_key" onclick="sortColumn('key', 'asc', {{ totalPagesRounded }}, '{{ path('lexik_translation_list') }}')" style="cursor: pointer;">
                            {% trans %} translations.key {% endtrans %}
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </th>

                        {% for locale in locales %}
                            <th class="text-center sortable col-de">
                                {{ locale }}
                            </th>
                        {% endfor %}
                        <th class="col-save"></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <input type="text" id="domain" onkeyup="filterColumn('domain', '{{ path('lexik_translation_list') }}')" class="form-control input-sm">
                        </th>
                        <th>
                            <input type="text" id="key" onkeyup="filterColumn('key', '{{ path('lexik_translation_list') }}')" class="form-control input-sm">
                        </th>
                        {% for locale in locales %}
                            <th>
                                <input type="text" id="{{ locale }}" onkeyup="filterColumn('{{ locale }}', '{{ path('lexik_translation_list') }}')" class="form-control input-sm">
                            </th>
                        {% endfor %}
                        <th></th>
                    </tr>
                </table>
                {% if translations is not empty %}
                    <ul class="pagination ng-table-pagination pull-right">
                        <li>
                            <a class="prev disabled" onclick="changePage(({{ page }} - 1), {{ totalPagesRounded }}, '{{ path('lexik_translation_list') }}')">&laquo;</a>
                        </li>
                        <li class="dynamicPages">
                            {% set pagesPerBlock = 6 %}
                            {% set currentPage = 1 %}
                            {% set currentBlock = ((currentPage - 1) // pagesPerBlock) + 1 %}
                            {% set startPage = (currentBlock - 1) * pagesPerBlock + 1 %}
                            {% set endPage = startPage + pagesPerBlock - 1 %}
                            {% if endPage > totalPagesRounded %}
                                {% set endPage = totalPagesRounded %}
                            {% endif %}

                            {% if currentBlock > 1 %}
                                <a class="prev-block" onclick="changePage({{ startPage - pagesPerBlock }}, {{ totalPagesRounded }}, '{{ path('lexik_translation_list') }}')">&laquo; Previous</a>
                            {% endif %}

                            {% for page in startPage..endPage %}
                                <a class="page-{{ page }}{% if page == currentPage %} active{% endif %}" onclick="changePage({{ page }}, {{ totalPagesRounded }}, '{{ path('lexik_translation_list') }}')">{{ page }}</a>
                            {% endfor %}
                        </li>
                        <li>
                            <a class="next" onclick="changePage(({{ page }} + 1), {{ totalPagesRounded }}, '{{ path('lexik_translation_list') }}')">&raquo;</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        {% endblock lexik_data_grid %}
    </div>
{% endblock %}

{% block lexik_javascript_footer %}
    {{ parent() }}
    <script src="{{ asset('bundles/lexiktranslation/js/grid.js') }}"></script>
    <script>
        var translationCfg = {
            locales: {{ locales | json_encode | raw }},
            inputType: '{{ inputType }}',
            autoCacheClean: {{ autoCacheClean ? 'true' : 'false' }},
            profilerTokens: {{ tokens is not null ? (tokens | json_encode | raw) : 'null' }},
            toggleSimilar: '{{ toggleSimilar }}',
            csrfToken: '{{ csrf_token('lexik-translation') }}',
            confirmDelete: '{{ ('translations.element.delete.confirm')|trans|escape('js') }}',
            url: {
                list: '{{ path('lexik_translation_list') }}',
                listByToken: '{{ path('lexik_translation_profiler', {'token': '-token-'}) }}',
                update: '{{ path('lexik_translation_update', {'id': '-id-'}) }}',
                delete: '{{ path('lexik_translation_delete', {'id': '-id-'}) }}',
                deleteLocale: '{{ path('lexik_translation_delete_locale', {'id': '-id-', 'locale': '-locale-'}) }}',
                invalidateCache: '{{ path('lexik_translation_invalidate_cache') }}'
            },
            label: {
                hideCol: '{{ 'translations.show_hide_columns'|trans }}',
                toggleAllCol: '{{ 'translations.toggle_all_columns'|trans }}',
                invalidateCache: '{{ 'translations.invalidate_cache'|trans }}',
                allTranslations: '{{ 'translations.all_translations'|trans }}',
                profiler: '{{ 'translations.profiler'|trans }}',
                dataSource: '{{ 'translations.data_source'|trans }}',
                latestProfiles: '{{ 'translations.latest_profiles'|trans }}',
                profile: '{{ 'translations.profile'|trans }}',
                saveRow: '{{ 'translations.save_row'|trans }}',
                domain: '{{ 'translations.domain'|trans }}',
                key: '{{ 'translations.key'|trans }}',
                save: '{{ 'translations.save'|trans }}',
                updateSuccess: '{{ 'translations.successfully_updated'|trans }}',
                updateFail: '{{ 'translations.update_failed'|trans }}',
                deleteSuccess: '{{ 'translations.successfully_deleted'|trans }}',
                deleteFail: '{{ 'translations.delete_failed'|trans }}',
                noTranslations: '{{ 'translations.no_translations'|trans }}'
            }
        };
    </script>
{% endblock %}