{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lexiktranslation/css/translation.css') }}">
{% endblock %}

{% block title %}{{ 'translations.page_title'|trans({}, 'LexikTranslationBundle') }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        {% for flashMessage in app.session.flashbag.get('success') %}
        	<div class="col-md-12 trans-flash">{{ flashMessage }}</div>
        {% endfor %}
        </div>

        <div id="trans-toolbar" class="row">
            <div class="col-md-12">
                <a id="trans-new" href="{{ path('lexik_translation_new') }}" role="button" class="btn btn-success">
                    {{ 'translations.new_translation'|trans({}, 'LexikTranslationBundle') }}
                </a>
                &nbsp;
                <a id="trans-invalidate" href="{{ path('lexik_translation_invalidate_cache') }}" role="button" class="btn btn-primary">
                    {{ 'translations.invalidate_cache'|trans({}, 'LexikTranslationBundle') }}
                </a>
                &nbsp;
                <button id="select-colunms" class="btn btn-default">
                    {{ 'translations.show_hide_columns'|trans({}, 'LexikTranslationBundle') }}
                </button>
                {% if inputType == 'textarea'  %}
                <button id="save-row" class="btn btn-default">
                    {{ 'translations.save_row'|trans({}, 'LexikTranslationBundle') }}
                </button>
                {% endif %}
            </div>
        </div>

        <br />

        {% include 'LexikTranslationBundle:Translation:_ngGrid.html.twig' %}
    </div>
{% endblock %}

{% block javascript_footer %}
    {{ parent() }}
    <script>
        var translationParams = {
            locales: {{ locales|json_encode|raw }},
            listUrl: '{{ path('lexik_translation_list') }}'
        };
    </script>
    <script src="{{ asset('bundles/lexiktranslation/js/translation.js') }}"></script>
{% endblock %}
